<% if turbo_frame_request? %>
  <%= tag.turbo_frame id: "content" do %>
    <%= content %>
  <% end %>

<% else %>
  <main class="content">
    <%= tag.turbo_frame id: "content", src: @src, target: "_top", data: { turbo_action: "advance" } do %>
      <%= content %>
    <% end %>
  </main>

  <%= tag.turbo_frame id: "modal", target: "_top" %>
<% end %>
