<div class="choices-collection" data-controller="selection">
  <% if @collection.size > 4 %>
    <div class="choices-collection__input choices-collection__checkall">
      <input id="<%= @object_name %>_<%= @method %>_check_all" type="checkbox" data-selection-target="checkall">
      <label for="<%= @object_name %>_<%= @method %>_check_all">Tout sélectionner</label>
    </div>
  <% end %>

  <%= collection_check_boxes(@object_name, @method, @collection, @value_method, @text_method, @options) do |b| %>
    <div class="choices-collection__input">
      <%= b.check_box data: { selection_target: "checkbox" } %>
      <%= b.label %>
    </div>
  <% end %>
</div>
