<div class="flex flex-col space-y-4">
  <%= badge_component "Badge default" %>
  <%= badge_component "Badge yellow", :yellow %>
  <%= badge_component "Badge orange", :orange %>
  <%= badge_component "Badge red", :red %>
  <%= badge_component "Badge blue", :blue %>
  <%= badge_component "Badge green", :green %>
</div>
