<div class="choices-collection">
  <%= collection_radio_buttons(@object_name, @method, @collection, @value_method, @text_method, @options) do |b| %>
    <div class="choices-collection__input">
      <%= b.radio_button %>
      <%= b.label %>
    </div>
  <% end %>

  <% if @resettable %>
    <div class="choices-collection__input choices-collection__reset">
      <%= radio_button_reset_tag %>
      <%= label_reset_tag %>
    </div>
  <% end %>
</div>
