<div class="flex flex-col space-y-4">
  <%= report_badge(:incomplete) %>
  <%= report_badge(:completed) %>
  <%= report_badge(:in_active_transmission) %>
  <%= report_badge(:transmitted) %>
  <%= report_badge(:assigned) %>
  <%= report_badge(:returned) %>
  <%= report_badge(:debated) %>
  <%= report_badge(:approved) %>
  <%= report_badge(:rejected) %>
</div>
