<div data-controller="navbar">

  <%# Full navbar %>

  <%= tag.nav(**navbar_html_attributes, data_navbar_target: "expanded") do %>
    <div class="navbar__brand brand">
      <%= image_tag("logo.svg", alt: "Logo de Passerelle", height: 30) %>
      <% if header? %>
        <%= header %>
      <% else %>
        <span class="brand__left">Passe</span><span class="brand__right">relle</span>
      <% end %>

      <div class="flex-auto"></div>
      <div class="navbar__close-button">
        <%= button_component "Fermer le menu", icon: "x-mark", icon_only: true, data: { action: "click->navbar#minify" } %>
      </div>
    </div>

    <% sections.each do |section| %>
      <% if section.title %>
        <div class="navbar__header"><%= section.title %></div>
      <% end %>

      <div class="navbar__links">
        <% section.links.each do |link| %>
          <%= render_link(link) %>
        <% end %>

        <% section.subsections.each do |subsection| %>
          <% if subsection.title %>
            <div class="navbar__subheader">
              <%= subsection.title %>
            </div>
          <% end %>

          <div class="navbar__links">
            <% subsection.links.each do |link| %>
              <%= render_link(link) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="flex-auto"></div>

    <div class="navbar__user">
      <%# Url `_url` instead of `_path` to ensure using the right domain %>
      <%= button_component(user_settings_url, title: "Gestion du compte", class: "navbar__link") do %>
        <div class="navbar__user-avatar">
          <%= icon_component "user-circle" %>
        </div>

        <div class="navbar__user-name">
          <div class="navbar__user-text"><%= current_user&.name %></div>
          <div class="navbar__user-text"><%= current_user&.organization&.name %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="navbar__overlay" data-action="click->navbar#minify" role="button" aria-label="Fermer le menu">
  </div>

  <%# Tablet navbar %>

  <nav class="navbar navbar--tablet" data-navbar-target="minified">
    <div class="navbar__brand brand">
      <%= image_tag("logo.svg", alt: "Logo de Passerelle", height: 30) %>
    </div>

    <% @links[0..4].each do |link| %>
      <%= render_icon_link(link) %>
    <% end %>

    <div class="navbar__icon-link">
      <%= button_component "Afficher tout le menu", icon: "ellipsis-horizontal", icon_only: true, data: { action: "click->navbar#expand" } %>
    </div>

    <div class="flex-auto"></div>

    <div class="navbar__icon-link">
      <%# Url `_url` instead of `_path` to ensure using the right domain %>
      <%= button_component "Gestion du compte", user_settings_url, icon: "user-circle", icon_only: true %>
    </div>
  </nav>

  <%# Mobile navbar %>

  <nav class="navbar navbar--mobile" data-navbar-target="minified">
    <div class="navbar__icon-link">
      <%= button_component "Afficher tout le menu", icon: "bars-3", icon_only: true, data: { action: "click->navbar#expand" } %>
    </div>

    <div class="flex-auto"></div>

    <% @links[0..4].each do |link| %>
      <%= render_icon_link(link) %>
    <% end %>

    <div class="flex-auto"></div>

    <div class="navbar__icon-link">
      <%# Url `_url` instead of `_path` to ensure using the right domain %>
      <%= button_component "Gestion du compte", user_settings_url, icon: "user-circle", icon_only: true %>
    </div>
  </nav>
</div>
