<%= tag.form class: "search", autocomplete: "off", action: @url || request.path, data: { turbo_frame: @turbo_frame } do %>
  <label class="form-block form-block--no-margin">
    <div class="form-block__label--hiden"><%= @label %></div>
    <div class="form-block__input">
      <div class="form-block__input-icon"><%= icon_component("magnifying-glass") %></div>
      <%= tag.input type: "search", name: "search", value: @value || params[:search], placeholder: @label %>
    </div>
  </label>

  <%= hidden_field_component :order, params[:order] %>
<% end %>
