<%= tag.div(**block_html_attributes) do %>
  <%= content %>

  <% errors.each do |error| %>
    <div class="form-block__errors"><%= error %></div>
  <% end %>

  <%= display_errors %>

  <% if hint? %>
    <div class="form-block__hint"><%= hint %></div>
  <% end %>

  <% if @autocomplete %>
    <div class="autocomplete__list-wrapper">
      <ul class="autocomplete__list" data-autocomplete-target="results">
      </ul>
    </div>
  <% end %>
<% end %>
