<div class="subheader-bar">
  <h2 class="subheader">
    <%= icon_component("document-text", "Icône d'illustration") %>
    Proposition de mise à jour de l'occupation
  </h2>

  <div class="subheader-bar__actions">
    <% if allowed_to?(:update?, @report) && @report.packing? %>
      <div class="subheader-bar__action">
        <%= button_component "Compléter", edit_report_path(@report, "proposition_occupation"), icon: "pencil-square", modal: true %>
      </div>
    <% end %>
  </div>
</div>

<div class="card">
  <dl class="description-list">
    <div class="description-list__row">
      <dt>Date du constat</dt>
      <dd><%= render_valid_content(:date_constat) { helpers.display_date(@report.date_constat) } %></dd>
    </div>

    <% if display_proposition_occupation_annee? %>
      <div class="description-list__row">
        <dt>Année sur laquelle porte le signalement</dt>
        <dd><%= render_valid_content(:proposition_occupation_annee) { @report.proposition_occupation_annee } %></dd>
      </div>
    <% end %>

    <% if display_proposition_nature_occupation? %>
      <div class="description-list__row">
        <dt>Nature de l'occupation constatée</dt>
        <dd><%= render_valid_content(:proposition_nature_occupation) { proposition_nature_occupation } %></dd>
      </div>
    <% end %>

    <% if display_proposition_date_occupation? %>
      <div class="description-list__row">
        <dt>Date du changement</dt>
        <dd><%= render_valid_content(:proposition_date_occupation) { helpers.display_date(@report.proposition_date_occupation) } %></dd>
      </div>
    <% end %>

    <% if display_proposition_erreur_tlv? %>
      <div class="description-list__row">
        <dt>TLV à tort</dt>
        <dd><%= render_valid_content(:proposition_erreur_tlv) { t(@report.proposition_erreur_tlv.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_erreur_thlv? %>
      <div class="description-list__row">
        <dt>THLV à tort</dt>
        <dd><%= render_valid_content(:proposition_erreur_thlv) { t(@report.proposition_erreur_thlv.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_meuble_tourisme? %>
      <div class="description-list__row">
        <dt>Meublé de tourisme</dt>
        <dd><%= render_valid_content(:proposition_meuble_tourisme) { t(@report.proposition_meuble_tourisme.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_majoration_rs? %>
      <div class="description-list__row">
        <dt>Application de la majoration sur les résidences secondaire</dt>
        <dd><%= render_valid_content(:proposition_majoration_rs) { t(@report.proposition_majoration_rs.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_nom_occupant? %>
      <div class="description-list__row">
        <dt>Nom de l'occupant</dt>
        <dd><%= render_valid_content(:proposition_nom_occupant) { @report.proposition_nom_occupant } %></dd>
      </div>
    <% end %>

    <% if display_proposition_prenom_occupant? %>
      <div class="description-list__row">
        <dt>Prénom de l'occupant</dt>
        <dd><%= render_valid_content(:proposition_prenom_occupant) { @report.proposition_prenom_occupant } %></dd>
      </div>
    <% end %>

    <% if display_proposition_adresse_occupant? %>
      <div class="description-list__row">
        <dt>Adresse de l'occupant</dt>
        <dd><%= render_valid_content(:proposition_adresse_occupant) { @report.proposition_adresse_occupant } %></dd>
      </div>
    <% end %>

    <% if display_proposition_numero_siren? %>
      <div class="description-list__row">
        <dt>N° SIREN</dt>
        <dd><%= render_valid_content(:proposition_numero_siren) { helpers.display_siren(@report.proposition_numero_siren) } %></dd>
      </div>
    <% end %>

    <% if display_proposition_nom_societe? %>
      <div class="description-list__row">
        <dt>Nom de la société</dt>
        <dd><%= render_valid_content(:proposition_nom_societe) { @report.proposition_nom_societe } %></dd>
      </div>
    <% end %>

    <% if display_proposition_nom_enseigne? %>
      <div class="description-list__row">
        <dt>Nom de l'enseigne</dt>
        <dd><%= render_valid_content(:proposition_nom_enseigne) { @report.proposition_nom_enseigne } %></dd>
      </div>
    <% end %>

    <% if display_proposition_etablissement_principal? %>
      <div class="description-list__row">
        <dt>Etablissement principal</dt>
        <dd><%= render_valid_content(:proposition_etablissement_principal) { t(@report.proposition_etablissement_principal.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_chantier_longue_duree? %>
      <div class="description-list__row">
        <dt>Chantier longue durée</dt>
        <dd><%= render_valid_content(:proposition_chantier_longue_duree) { t(@report.proposition_chantier_longue_duree.to_s, scope: "enum.boolean") } %></dd>
      </div>
    <% end %>

    <% if display_proposition_code_naf? %>
      <div class="description-list__row">
        <dt>Code NAF</dt>
        <dd><%= render_valid_content(:proposition_code_naf) { @report.proposition_code_naf } %></dd>
      </div>
    <% end %>

    <% if display_proposition_date_debut_activite? %>
      <div class="description-list__row">
        <dt>Date de début de l'activité</dt>
        <dd><%= render_valid_content(:proposition_date_debut_activite) { helpers.display_date(@report.proposition_date_debut_activite) } %></dd>
      </div>
    <% end %>
  </dl>
</div>
