<%= modal_component do |modal| %>
  <% modal.with_header do %>
    Proposition de mise à jour de l'occupation
  <% end %>

  <% modal.with_form(model: @report) do |form| %>
    <% if require_proposition_occupation_habitation? %>
      <%= form.block :proposition_date_occupation do %>
        <%= form.label :proposition_date_occupation, "Date du changement" %>
        <%= form.date_field :proposition_date_occupation %>
      <% end %>

      <div data-controller="switch">
        <%= form.block :proposition_nature_occupation do %>
          <%= form.label :proposition_nature_occupation, "Nature de l'occupation" %>
          <%= form.select :proposition_nature_occupation, proposition_nature_occupation_choices, { include_blank: true }, data: { action: "switch#toggle" } %>
        <% end %>

        <% if display_proposition_erreur_tlv? %>
          <%= form.block :proposition_erreur_tlv do %>
            <%= form.label :proposition_erreur_tlv, "TLV appliquée à tort" %>
            <%= form.select :proposition_erreur_tlv, boolean_choices, { include_blank: true } %>
          <% end %>
        <% end %>

        <% if display_proposition_erreur_thlv? %>
          <%= form.block :proposition_erreur_thlv do %>
            <%= form.label :proposition_erreur_thlv, "THLV appliquée à tort" %>
            <%= form.select :proposition_erreur_thlv, boolean_choices, { include_blank: true } %>
          <% end %>
        <% end %>

        <%= local_non_vacant_fields do %>
          <%= form.block :proposition_meuble_tourisme do %>
            <%= form.label :proposition_meuble_tourisme, "Meublé de tourisme" %>
            <%= form.select :proposition_meuble_tourisme, boolean_choices, { include_blank: true } %>
          <% end %>
        <% end %>

        <%= residence_secondaire_fields do %>
          <%= form.block :proposition_majoration_rs do %>
            <%= form.label :proposition_majoration_rs, "Application de la majoration sur les résidences secondaire" %>
            <%= form.select :proposition_majoration_rs, boolean_choices, { include_blank: true } %>
          <% end %>
        <% end %>

        <%= local_non_vacant_fields do %>
          <%= form.block :proposition_nom_occupant do %>
            <%= form.label :proposition_nom_occupant, "Nom de l'occupant" %>
            <%= form.text_field :proposition_nom_occupant %>
          <% end %>

          <%= form.block :proposition_prenom_occupant do %>
            <%= form.label :proposition_prenom_occupant, "Prénom de l'occupant" %>
            <%= form.text_field :proposition_prenom_occupant %>
          <% end %>

          <%= form.block :proposition_adresse_occupant do %>
            <%= form.label :proposition_adresse_occupant, "Adresse de l'occupant" %>
            <%= form.text_field :proposition_adresse_occupant %>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <% if require_proposition_occupation_professionnel? %>

      <% if display_proposition_numero_siren? %>
        <%= form.block :proposition_numero_siren do %>
          <%= form.label :proposition_numero_siren, "N° SIREN" %>
          <%= form.text_field :proposition_numero_siren %>
        <% end %>
      <% end %>

      <% if display_proposition_nom_societe? %>
        <%= form.block :proposition_nom_societe do %>
          <%= form.label :proposition_nom_societe, "Nom de l'entreprise" %>
          <%= form.text_field :proposition_nom_societe %>
        <% end %>
      <% end %>

      <% if display_proposition_nom_enseigne? %>
        <%= form.block :proposition_nom_enseigne do %>
          <%= form.label :proposition_nom_enseigne, "Enseigne" %>
          <%= form.text_field :proposition_nom_enseigne %>
        <% end %>
      <% end %>

      <% if display_proposition_etablissement_principal? %>
        <%= form.block :proposition_etablissement_principal do %>
          <%= form.label :proposition_etablissement_principal, "Etablissement principal" %>
          <%= form.select :proposition_etablissement_principal, boolean_choices, { include_blank: true } %>
        <% end %>
      <% end %>

      <% if display_proposition_chantier_longue_duree? %>
        <%= form.block :proposition_chantier_longue_duree do %>
          <%= form.label :proposition_chantier_longue_duree, "Chantier longue durée" %>
          <%= form.select :proposition_chantier_longue_duree, boolean_choices, { include_blank: true } %>
        <% end %>
      <% end %>

      <% if display_proposition_code_naf? %>
        <%= form.block :proposition_code_naf do |block| %>
          <%= form.label :proposition_code_naf, "Code NAF" %>
          <%= form.text_field :proposition_code_naf %>
          <% block.with_hint do %>
            Le Code NAF doit respecter le format suivant : 00.00A
          <% end %>
        <% end %>
      <% end %>

      <% if display_proposition_date_debut_activite? %>
        <%= form.block :proposition_date_debut_activite do %>
          <%= form.label :proposition_date_debut_activite, "Date de début de l'activité" %>
          <%= form.date_field :proposition_date_debut_activite %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
