<%= modal_component do |modal| %>
  <% modal.with_header do %>
    Situation actuelle de l'occupation
  <% end %>

  <% modal.with_form(model: @report) do |form| %>
    <% if require_situation_occupation_habitation? %>
      <% if display_situation_occupation_annee? %>
        <%= form.block :situation_occupation_annee do %>
          <%= form.label :situation_occupation_annee, "Année du fichier d'occupation" %>
          <%= form.number_field :situation_occupation_annee %>
        <% end %>
      <% end %>

      <div data-controller="switch">
        <%= form.block :situation_nature_occupation do %>
          <%= form.label :situation_nature_occupation, "Nature de l'occupation" %>
          <%= form.select :situation_nature_occupation, situation_nature_occupation_choices, { include_blank: true }, data: { action: "switch#toggle" } %>
        <% end %>

        <%= residence_secondaire_fields do %>
          <%= form.block :situation_majoration_rs do %>
            <%= form.label :situation_majoration_rs, "Application de la majoration sur les résidences secondaires" %>
            <%= form.select :situation_majoration_rs, boolean_choices, { include_blank: true } %>
          <% end %>
        <% end %>
      </div>

    <% elsif require_situation_occupation_professionnel? %>

      <% if display_situation_annee_cfe? %>
        <%= form.block :situation_annee_cfe do %>
          <%= form.label :situation_annee_cfe, "Année du fichier CFE" %>
          <%= form.number_field :situation_annee_cfe, step: "any", min: 0 %>
        <% end %>
      <% end %>

      <% if display_situation_vacance_fiscale? %>
        <div data-controller="switch">
          <%= form.block :situation_vacance_fiscale do %>
            <%= form.label :situation_vacance_fiscale, "Vacance fiscale" %>
            <%= form.select :situation_vacance_fiscale, boolean_choices, { include_blank: true }, data: { action: "switch#toggle" } %>
          <% end %>

          <%= vacance_fiscale_fields do %>
            <%= form.block :situation_nombre_annees_vacance do %>
              <%= form.label :situation_nombre_annees_vacance, "Nombre d'années de vacance" %>
              <%= form.number_field :situation_nombre_annees_vacance, step: "any", min: 0 %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if display_situation_siren_dernier_occupant? %>
        <%= form.block :situation_siren_dernier_occupant do %>
          <%= form.label :situation_siren_dernier_occupant, "N° SIREN du dernier occupant" %>
          <%= form.text_field :situation_siren_dernier_occupant %>
        <% end %>
      <% end %>

      <% if display_situation_nom_dernier_occupant? %>
        <%= form.block :situation_nom_dernier_occupant do %>
          <%= form.label :situation_nom_dernier_occupant, "Nom du dernier occupant" %>
          <%= form.text_field :situation_nom_dernier_occupant %>
        <% end %>
      <% end %>

      <% if display_situation_vlf_cfe? %>
        <%= form.block :situation_vlf_cfe do %>
          <%= form.label :situation_vlf_cfe, "VLF Cotisation foncière des entreprises" %>
          <%= form.text_field :situation_vlf_cfe %>
        <% end %>
      <% end %>

      <% if display_situation_taxation_base_minimum? %>
        <%= form.block :situation_taxation_base_minimum do %>
          <%= form.label :situation_taxation_base_minimum, "Taxation base minimum" %>
          <%= form.select :situation_taxation_base_minimum, boolean_choices, { include_blank: true } %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
