<%= template_modal_component(referrer: @referrer_path) do |template| %>
  <% template.with_modal do |modal| %>
    <% modal.with_header do %>
      Transmission en attente
    <% end %>

    <% modal.with_form(url: complete_transmissions_path, method: :post) do %>
      <% if @transmissible_reports.many? %>
        <p><b><%= @transmissible_reports.count %> nouveaux signalements</b> ont été ajoutés à votre transmission (total en attente: <b><%= @transmission.reports.count %></b>).</p>
      <% elsif @transmissible_reports.any? %>
        <p><b><%= @transmissible_reports.count %> nouveau signalement</b> a été ajouté à votre transmission (total en attente: <b><%= @transmission.reports.count %></b>).</p>
      <% end %>

      <% if @intransmissible_reports[:incomplete].many? %>
        <p><b><%= @intransmissible_reports[:incomplete].count %> signalements</b> n'ont pas pu être ajoutés à votre transmission parce que leurs <b>formulaires sont incomplets</b>.</p>
      <% elsif @intransmissible_reports[:incomplete].any? %>
        <p><b><%= @intransmissible_reports[:incomplete].count %> signalement</b> n'a pas pu être ajouté à votre transmission parce que son <b>formulaire est incomplet</b>.</p>
      <% end %>

      <% if @intransmissible_reports[:transmitted].many? %>
        <p><b><%= @intransmissible_reports[:transmitted].count %> signalements</b> n'ont pas pu être ajoutés à votre transmission parce qu'ils sont <b>déjà transmis</b>.</p>
      <% elsif @intransmissible_reports[:transmitted].any? %>
        <p><b><%= @intransmissible_reports[:transmitted].count %> signalement</b> n'a pas pu être ajouté à votre transmission parce qu'il est <b>déjà transmis</b>.</p>
      <% end %>
    <% end %>

    <% modal.with_submit_action "Transmettre immédiatement", autofocus: true %>
    <% modal.with_close_action "Transmettre plus tard" %>
  <% end %>
<% end %>
