<% captured_content = capture do %>
  <% if header? %>
    <div class="card__header">
      <h1 class="card__title"><%= header %></h1>
    </div>
  <% end %>

  <div class="<%= css_classes(:body_class) %>">
    <% if form? %>
      <%= form %>
    <% elsif body? %>
      <%= body %>
    <% else %>
      <%= content %>
    <% end %>
  </div>

  <% if form? || actions? || raw_actions? %>
    <div class="<%= css_classes(:actions_class) %>">
      <%= submit_action if form? %>

      <% actions.each do |action| %>
        <%= action %>
      <% end %>

      <%= raw_actions %>
    </div>
  <% end %>
<% end %>

<% captured_content_wrapped = capture do %>
  <% if form? %>
    <%= form_with(**form_options) do %>
      <%= captured_content %>
    <% end %>
  <% else %>
    <%= captured_content %>
  <% end %>
<% end %>

<% if self.is_a?(Multipart) %>
  <%= captured_content_wrapped %>
<% else %>
  <div class="<%= css_classes(:class) %>">
    <div class="<%= css_classes(:content_class) %>">
      <% if multiparts? %>
        <% multiparts.each_with_index do |part, index| %>
          <% unless index.zero? %>
            <hr class="content__separator">
          <% end %>

          <%= part %>
        <% end %>
      <% else %>
        <%= captured_content_wrapped %>
      <% end %>
    </div>
  </div>
<% end %>
