<% captured_content = capture do %>
  <% if header? %>
    <div class="modal__header">
      <h1 id="modal-title" class="modal__title"><%= header %></h1>
      <div class="modal__header-toolbar"><%= close_button %></div>
    </div>
  <% end %>

  <div class="modal__body">
    <%= close_button unless header? %>

    <% if form? %>
      <%= form %>
    <% elsif body? %>
      <%= body %>
    <% else %>
      <%= content %>
    <% end %>
  </div>

  <% if form? || actions? || other_actions? || close_action? || raw_actions? %>
    <div class="modal__actions">
      <%= submit_action if form? %>

      <% actions.each do |action| %>
        <%= action %>
      <% end %>

      <%= raw_actions %>
      <%= close_action %>

      <div class="flex-grow"></div>
      <% other_actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="modal"
     role="dialog"
     aria-modal="true"
     aria-labelledby="modal-title"
     data-controller="modal"
     data-transition-enter-from="modal--enter-from"
     data-transition-enter-to="modal--enter-to"
     data-transition-leave-from="modal--leave-from"
     data-transition-leave-to="modal--leave-to"
     data-action="keydown@document->modal#keydown">
  <div class="modal__overlay" data-action="click->modal#close"></div>
  <div class="modal__content" data-modal-target="content">
    <% if form? %>
      <%= tag.turbo_frame id: "modal_form" do %>
        <%= form_with(**form_options) do %>
          <% hidden_fields.each do |hidden_field| %>
            <%= hidden_field %>
          <% end %>

          <%= captured_content %>
        <% end %>
      <% end %>

    <% else %>
      <%= captured_content %>
    <% end %>
  </div>
</div>
