<%= fields model: User.new do |form| %>
  <div data-controller="switch">
    <%= form.block :affectaction do |block| %>
      <%= form.label :affectaction, "Select a value" %>
      <%= form.select :affectaction, { "Habitation" => "hab", "Professionel" => "pro" }, { include_blank: true }, data: { action: "switch#toggle" } %>
      <% block.with_hint do %>
        L'application étant pensée pour fonctionner sans JS, une étape de configuration supplémentaire est nécessaire pour afficher les champs liés à une valeur du select à l'affichage d'un formulaire déjà sauvegardé.
      <% end %>
    <% end %>

    <fieldset data-switch-target="target" data-switch-value="hab" hidden disabled>
      <p>Vous avez sélectionner un local d'habitation :</p>

      <%= form.block :lambda do %>
        <%= form.check_box :organization_admin %>
        <%= form.label :organization_admin, "Cette checkbox est active" %>
      <% end %>
    </fieldset>

    <fieldset data-switch-target="target" data-switch-value="hab, pro" data-switch-value-separator=", " hidden disabled>
      <p>Vous avez sélectionner une des valeurs</p>

      <%= form.block :lambda do %>
        <%= form.check_box :organization_admin %>
        <%= form.label :organization_admin, "Cette checkbox est active" %>
      <% end %>
    </fieldset>
  </div>
<% end %>
