<div class="flex space-x-4">
  <%= icon_component "academic-cap" %>
  <%= icon_component "adjustments-horizontal" %>
  <%= icon_component "adjustments-vertical" %>
  <%= icon_component "archive-box-arrow-down" %>
  <%= icon_component "archive-box-x-mark" %>
  <%= icon_component "archive-box" %>
  <%= icon_component "arrow-down-circle" %>
</div>
