<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Lookbook de Passerelle</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="overflow-auto">
    <%
      frame = params.dig(:lookbook, :display, :frame)
      width_class =
        case params.dig(:lookbook, :display, :width)
        when "medium" then "w-[48rem]"
        when "small"  then "w-96"
        end
    %>

    <%= yield unless frame %>

    <% if frame == "content" %>
      <main class="content">
        <%= turbo_frame_tag(:content, target: "_top") do %>
          <% if width_class %>
            <div class="<%= width_class %>">
              <%= yield %>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        <% end %>
      </main>

      <%= turbo_frame_tag(:modal, target: "_top") %>
    <% end %>

    <% if frame == "modal" %>
      <main class="content">
        <%= turbo_frame_tag(:content, target: "_top") %>
      </main>

      <%= turbo_frame_tag(:modal, target: "_top") do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
